#homespan
  #overlay
    %h1.form-title Student Signup
    = form_for @student, html: {class: 'styled-form'} do |f|
      - if !@student.errors.full_messages.empty?
        .errors
          = @student.errors.full_messages.join("<br>").html_safe
      %p.prompt What is your name?
      = f.text_field :name
      %p.prompt What is your university email address?
      = f.text_field :email
      / %p.prompt Which university do you go to?
      / = f.select :university, options_for_select(Student::UNIVERSITIES, @student.university)
      %p.prompt What degree are you pursuing?
      = f.select :degree, options_for_select(Student::DEGREES, @student.degree)
      %p.prompt What major(s) are you pursuing?
      = f.text_field :major
      %p.prompt Interest areas - select all that apply:
      - Student::INTERESTS.each do |i|
        = check_box_tag 'student[interests][]', i, @student.interests.try(:include?, i)
        = f.label 'interests[]', i
        %br/
      %p.prompt Check the types of jobs you are interested in:
      - Student::WORK_TYPES.each do |t|
        = check_box_tag 'student[work_type][]', t, @student.work_type.try(:include?, t)
        = f.label 'work_type[]', t
      %p.prompt What is your graduation year?
      = f.select :graduation_year, options_for_select(Hash[[["Before 2000", 0]] + Student::GRADUATION_YEARS.map { |y| [y.to_s, y] }], @student.graduation_year)
      / %p.prompt What is your graduation month?
      / = f.select :graduation_month, options_for_select(Student::GRADUATION_MONTHS, @student.graduation_month)
      / %p.prompt What is is your current country of citizenship?
      / = f.country_select :citizenship
      / %p.prompt Which (if any) is the company you're most interested in?
      / = f.select :top_company_1, options_for_select(Student.top_company_options, @student.top_company_1)
      / %p.prompt Which (if any) is the company you're second most interested in?
      / = f.select :top_company_2, options_for_select(Student.top_company_options, @student.top_company_2)
      / %p.prompt Which (if any) is the company you're third most interested in?
      / = f.select :top_company_3, options_for_select(Student.top_company_options, @student.top_company_3)
      %p.prompt Why did you join the club?
      - Student::JOIN_REASONS.each do |r|
        = check_box_tag 'student[join_reasons][]', r, @student.join_reasons.try(:include?, r)
        = f.label 'join_reasons[]', r
        %br/
      %p.prompt Comments/suggestions for events or improvements:
      = f.text_field :comments
      %p.prompt Upload your resume below (required):
      = f.file_field :resume
      %p.prompt Check below if you provide permission for us to distribute your resume to all interested employers.
      = f.check_box :resume_permission, {}, 'true', 'false'
      = f.label :resume_permission, 'I provide permission for my resume to be distributed to all interested employers. '
      = f.submit 'Submit'
