#homespan
  / # = image_tag 'background.jpg', id: 'background'
  #overlay
    = image_tag 'logo.png', id: 'logo'
    %h1 MIT Energy Career Fair 2016
    %h2 CREATING CAREERS IN ENERGY FOR TOMORROW
    = link_to 'For Students', new_student_path, class: 'button'
    = link_to 'For Employers', new_company_path, class: 'button'
    %p.contact
      Contact us at
      = link_to 'uge-expo@mit.edu', 'mailto:uge-expo@mit.edu'
.white-outer
  #intro
    %h3 About MIT Energy Career Fair
    %p.intro The MIT Energy Career Fair provides an intimate environment for top caliber students with a passion for energy and companies to connect. Evolved from the Energy EXPO, which in previous years connected PhD candidates, MBA students, and undergraduates from all majors with over 20 companies, this year’s Career Fair meets the demand for hundreds of students at MIT. This year, the Fair features a diverse range of industries: clean tech, oil & gas, energy storage and management, energy consulting, etc. The event is open to all MIT and Harvard students.
    %h3 Our Sponsors
    %h4 Gigawatts Sponsors
    #gigawatts
      - Company.where('level = ?', 2).each do |c|
        .logo-box
          = image_tag c.logo.url(:medium)
          %p= c.name
    %h4 Megawatts Sponsors
    #megawatts
      - Company.where('level = ?', 1).each do |c|
        .logo-box
          %p= c.name
    %h4 Kilowatts Sponsors
    #kilowatts
      - Company.where('level = ?', 0).each do |c|
        .logo-box
          %p= c.name
.non-white-outer
  #faq
    %h3 Frequently Asked Questions
    %p.question 1. Is this the same event as the MIT Energy Expo?
    %p.answer The MIT Energy Expo held by the MIT Undergraduate Energy Club in past years was a cocktail-style networking event. We are replacing this event with a separate MIT Energy Career Fair aimed specifically at connecting MIT students to internship and full-time career opportunities within the energy industry.

    %p.question 2. Can I find an internship at the Energy Career Fair?
    %p.answer Yes. Many of the attending companies will be recruiting for internship positions as well as full-time job opportunities.

    %p.question 3. When is the MIT Energy Career Fair?
    %p.answer The MIT Energy Career Fair will be taking place on Thursday, March 3, 2016 from 6:30 to 9:00 pm.

    %p.question 4. Where will the event be located?
    %p.answer The event will take place at the MIT Student Center (Building W20) at 84 Massachusetts Ave, Cambridge, MA. Follow the signs to the Lobdell Dining room on the second floor of the MIT Student Center.

    %p.question 5. How can I find out which employers will be attending?
    %p.answer We will be releasing the full list of companies on our website once it becomes available. The company list will also be included in the MIT Energy Career Fair brochure that will be released closer to the event date.

    %p.question 6. Do I have to pre-register for the career fair?
    %p.answer Pre-registration for students is not required; students (with valid student ID) may show up on the day of the event to register and print name tags. However, pre-registration is highly encouraged as it allows you to be included in the resume book we will be providing for our sponsors.

    %p.question 7. Are graduate students allowed to attend?
    %p.answer Yes, this event is open to undergraduate and graduate students.

    %p.question 8. Is the Energy Career Fair only open to MIT students?
    %p.answer The Energy Career Fair will be open to MIT and Harvard undergraduate and graduate students.

    %p.question 9. Are attendees required to print name tags before the event?
    %p.answer No, all name tag printing will be done at the entrance to the career fair.

    %p.question 10. Will there be any events after the career fair?
    %p.answer We will be holding an exclusive networking banquet immediately after the career fair. This dinner will be attended by a select group of employers and invited students.

    %p.question 11. How do I attend the post-career fair banquet?
    %p.answer If you receive an invitation to the banquet from a company attending the career fair, you will gain entrance to the post-event dinner.

    %p.question 12. As an employer, where can I find more information about the event and details about sponsorship levels?
    %p.answer
      Please see the attached
      = link_to 'document', '/sponsorship_levels.pdf'
      for sponsorship levels and email
      = link_to 'uge-expo@mit.edu', 'mailto:uge-expo@mit.edu'
      with any questions.
.white-outer
  #team
    %h3 Our Team
    #co-directors
      .co-director
        = image_tag 'nagisa.jpeg'
        %p.name Nagisa Tadjfar
        %p.position Managing Director
      .co-director
        = image_tag 'linda.jpeg'
        %p.name Linda Jing
        %p.position Managing Director
    #members
      .member
        = image_tag 'linh.jpeg'
        %p.name Linh Nguyen
        %p.position Director of Corporate Relations
      .member
        = image_tag 'dexin.jpeg'
        %p.name De Xin Chen
        %p.position Director of Corporate Relations
      .member
        = image_tag 'ali.png'
        %p.name Ali Badr
        %p.position Marketing Director
      .member
        = image_tag 'alex.jpeg'
        %p.name Alex Breton
        %p.position Marketing Director
      .member
        = image_tag 'maya.jpeg'
        %p.name Maya Sathaye
        %p.position Logistics Director