!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title MIT Energy Career Fair 2017
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
  %body{id: "#{controller_name}_#{action_name}"}
    - if flash[:success] or flash[:alert]
      %script= "alert('#{flash[:success] or flash[:alert]}'); "
    %ul#nav_left
      %li= link_to 'Sponsors', '#intro'
      %li= link_to 'FAQ', '#faq'
      %li= link_to 'Our Team', '#team'
      %li= link_to 'Past Event', past_events_path
    %ul#nav
      %li{class: @current == 'Homepage' ? 'current' : ''}= link_to 'Homepage', root_path
      %li{class: @current == 'Students' ? 'current' : ''}= link_to 'Students', new_student_path
      %li{class: @current == 'Employers' ? 'current' : ''}= link_to 'Employers', new_company_path
    = yield
